
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,500;1,900&display=swap');


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
    --Font-size-paragraph: 18px;
    --Family: "Epilogue", serif;
    --Weights-light: 500;
    --Weights-heavy: 900;
    --brand-logo: url("./images/logo.svg");
    --hero-image-mobile: url("./images/image-hero-mobile.png");
    --hero-image-desktop: url("./images/image-hero-desktop.png");
    --mobile-menu-icon: url("./images/icon-menu.svg");
    --mobile-icon-close: url("./images/icon-close-menu.svg");
    --client: url("./images/client-audiophile.svg");
    --client2: url("./images/client-databiz.svg");
    --client3: url("./images/client-maker.svg");
    --client4: url("./images/client-meet.svg");
    --icon-arrow-up: url("./images/icon-arrow-up.svg");
    --icon-arrow-down: url("./images/icon-arrow-down.svg");
    --todo: url("./images/icon-todo.svg");
    --mobile-calender: url("./images/icon-calendar.svg");
    --mobile-reminder: url("./images/icon-reminders.svg");
    --mobile-planning: url("./images/icon-planning.svg");
}
.overlay{
    background-color: rgba(0, 0, 0, 0.452);
    position: absolute;
    height: 100%;
    width:90vw;
    z-index: 1;
    display:none;
  
}
body {
    font-family: var(--Family);
    z-index: 1;
}
i{
    margin: 0px 5px;
}
li>a i{
    font-weight: var(--Weights-light);
    color:var(--Medium-Gray);
}

.icon-arrow-up {
    content: var(--icon-arrow-up);
}

.icon-arrow-down {
    content: var(--icon-arrow-down);
}
.navitems {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding:1em;
}
.navlist{
    display:flex;
    padding:0em 3em;
    align-items: baseline;
    width:100%;
    justify-content:space-between
}
.mobile-action-btn{
    display:flex;
    /* place-content: end; */
}
.list-content {
    margin-top: 1rem;
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    /* margin-left: -3em; */
}
li a {
    width: 100%;
    text-align: left;
    padding:0px 1em;
}

li,
a {
    color: inherit;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}
.inner-list-content, .inner-list-content-history {
    margin: 20px 1em;
    display:none;
    position:absolute;
    background-color: #fff;
    box-shadow: 3px 3px 30px hsl(0deg 0% 41% / 35%);
    border-radius:5px;
    padding:10px;
}
.inner-list-content-history{
    margin: 1em 0em 0em 2em;
}
.inner-list-content{
    margin: 1em 0em 0em -3em;
}

.inner-list-content>li, .inner-list-content-history>li{
    padding: 10px 0px;
}
.mobile-login-section{
    text-align: center;
    
}
.mobile-action-btn {
    gap:1.5em;
   margin-top:20px;
   line-height: 50px;

}

.mobile-action-btn>.register-btn{
    border:1px solid gray;
    border-radius: 1rem;
    position:relative;
    padding: 0px 1.5em;
}

.brand {
    content: var(--brand-logo);
}
.todo-list {
    content: var(--todo)
}
.calendar {
    content: var(--mobile-calender)
}
.reminder {
    content: var(--mobile-reminder)
}

.planning {
    content: var(--mobile-planning)
}

main {
    text-align: center;
    /* margin-top: 20px; */
    padding:0px 3em 0px 3em;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap:5em;
}

.content-container h1 {
    margin-top: 10rem;
    font-size: 46px;
    text-align:justify;
    line-height:1em;
    word-break: break-word;
    width: 70%;
    
}
.content-container{
    display:Flex;
    flex-direction:column;
    justify-content: flex-start;
    text-align:left;
    width:50%;
    line-height: 1.5em;
    align-self:center
    
}

.text-paragraph{
    margin:3em 0em 1em 0em;
    color:var(--Medium-Gray)
}

.action-btn {
    display: flex;
    margin-top:2rem;
}

.action-btn a {
    background-color: var(--Almost-Black);
    color: var(--Almost-White);
    padding: 12px;
    border-radius: 10px;
    text-decoration: none;
    border:1px solid black;
}


.hero-banner {
    content: var(--hero-image-mobile);
}

.partners {
    padding: 2em 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    margin-top: 3em;
    
    

}
.partners>div{
    width:80%;
}
.client {
    content: var(--client);
    width: 100%;
    margin: 10px;
}

.client2 {
    content: var(--client2);
    width: 100%;
    margin: 5px;
}

.client3 {
    content: var(--client3);
    width: 100%;
    margin: 5px;
}

.client4 {
    content: var(--client4);
    width: 100%;
    padding: 5px;
}
.icon-container{
display:none;
visibility:hidden;
}
.action-btn>a:hover {
    background-color: inherit;
    color: black;
    border:1px solid black;
}


@media screen and (max-width:375px),
(max-width:800px) {
    nav {
        display: flex;
        justify-content: space-between;
        /* width: 100%; */
    }
    .mobile-action-btn{
        display:flex;
        flex-direction: column;
    }
    .navitems {
        display: flex;
        justify-content: space-between;
        margin: 5%;
        width: 100%;
    }

    .navlist {
        display: none;
        top: 0px;
        right: 0px;
        position: absolute;
        background-color: var(--Almost-White);
        width: 70%;
        height: 100%;
        padding: 10%;
        z-index: 10;
    }

    .list-content {
        margin-top: 3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1em;
    }

    li a {
        width: 100%;
        text-align: left;
    }

    li,
    a {
        color: inherit;
        text-decoration: none;
        list-style: none;
        cursor: pointer;
    }

    .list-content .list-item {
        padding: 1em;

    }
    .content-container h1 {
        margin-top:32px;
        text-align:center;
        font-size: 36px;
        padding: 4px 4px 25px 4px;
        word-break: break-word;
        width: 100%;
    }
    
    .inner-list-content ,.inner-list-content-history{
        margin: 20px -1em;
        display:none;
        position:relative;
        background-color: initial;
    box-shadow: none;

    }
    .content-container{
        display:flex;
        flex-direction:column;
        justify-content: center;
        text-align:center;
        width:100%;
    }
    

    .inner-list-content>li, .inner-list-content-history>li{
        padding: 10px 0px;
    }
    .mobile-login-section{
        width:100%;
        text-align: center;
    }
    .mobile-action-btn {
       margin-top:20px;
       line-height: 50px;

    }
    .mobile-action-btn>.register-btn{
        border:1px solid gray;
        border-radius: 1rem;
        position:relative;
    }
  
    .brand {
        content: var(--brand-logo);
    }

    .mobile-menu-close {
        content: var(--mobile-icon-close);
    }

    .mobile-menu-open {
        content: var(--mobile-menu-icon);
        z-index: 10;
    }

    .container-menu-icon {
        z-index: 10;
    }

 

    main {
        text-align: center;
        margin-top: 20px;
        display:flex;
       flex-direction: column;
       margin:0px;
       gap:12px;
       padding:0px;

    }
    .text-paragraph{
        margin:0px 0em 0px 0em;
    }

    h1 {

        padding-top: 10px;
        font-size:34px;
        font-weight: 900;
        
    }

    .action-btn {
        display: flex;
        justify-content: center;
    }

    .action-btn a {
        background-color: var(--Almost-Black);
        color: var(--Almost-White);
        padding: 12px;
        border-radius: 10px;
        text-decoration: none;

    }

    .hero-banner {
        content: var(--hero-image-mobile);
    }

    .partners {
        padding: 2em 0px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-items: center;
        margin:0px
    }
    .partners>div{
        width:80px;
    }

    

    .client {
        content: var(--client);
        width: 100%;
        margin: 10px;
    }

    .client2 {
        content: var(--client2);
        width: 100%;
        margin: 5px;
    }

    .client3 {
        content: var(--client3);
        width: 100%;
        margin: 5px;
    }

    .client4 {
        content: var(--client4);
        width: 100%;
        padding: 5px;
    }

}